h2 {
  text-align: center;
}

.ajouter-tache-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tache-form-button {
  height: 50px;
  width: auto;
  margin-top: 15px;
  padding: 5px;
}
.tache-form-button:hover {
  cursor: pointer;
}

.tache-form-options {
  margin-top: 15px;
  padding: 20px;
  background-color: #bdbdbd;
  border-radius: 2px;
}

.tache-form-textarea {
  resize: none;
  width: auto;
  height: 200px;
}
