.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
  background-color: #a7c0cd;
}

.blocks {
  width: 500px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  margin: 10px;
  color: black;
  background-color: #efefef;
  border-radius: 2px;
}

.blocks:nth-child(1) {
  flex: 1;
}

.blocks:nth-child(2) {
  flex: 5;
}

body {
  background-color: #4b636e;
}
