.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
  background-color: #a7c0cd;
}

.blocks {
  width: 500px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  color: black;
  background-color: #efefef;
}
