.liste-taches {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.taches {
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  background-color: #bdbdbd;
}

.edit-tache {
  display: inline-block;
}

.edit-delete-buttons {
  display: inline-block;
  justify-content: right;
  margin-left: 10px;
  white-space: nowrap;
  vertical-align: middle;
}

.edit-select {
  vertical-align: top;
  width: 100px;
  height: 25px;
}

.edit-textarea {
  resize: none;
  width: 98%;
}
